/* app css stylesheet */

/* html {
  direction:rtl;
  font-family:"Droid Arabic Kufi", "Droid Sans", sans-serif;
  font-size:14px;
} */

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

td, th {
  text-align: right;
}